
  .description-header {
    margin-bottom: 33px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 32px;
    font-weight: bold;
    color: #4AAAA5;
  }
  
  #description-image {
    float: left;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-right: 20px;
  }

  .imageNav-photo {
    width: 140px;
    height: 140px;
  }
  